@font-face {
  font-family: "iconfont";
  src: url("/fonts/icon//iconfont.eot");
  src: url("/fonts/icon//iconfont.eot") format("embedded-opentype"),
    url("/fonts/icon//iconfont.ttf") format("truetype"),
    url("/fonts/icon//iconfont.woff") format("woff"), url("/fonts/icon//iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconfont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app-store:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-alipay:before {
  content: "\e902";
}
.icon-Android:before {
  content: "\e903";
}
.icon-Apple:before {
  content: "\e904";
}
.icon-AppStore:before {
  content: "\e905";
}
.icon-archive:before {
  content: "\e906";
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-arrow-right:before {
  content: "\e909";
}
.icon-arrow-up:before {
  content: "\e90a";
}
.icon-bookmark:before {
  content: "\e90b";
}
.icon-card:before {
  content: "\e90c";
}
.icon-catalog:before {
  content: "\e90d";
}
.icon-chat_quote:before {
  content: "\e90e";
}
.icon-chat:before {
  content: "\e90f";
}
.icon-clear:before {
  content: "\e910";
}
.icon-clock_fill:before {
  content: "\e911";
}
.icon-clock:before {
  content: "\e912";
}
.icon-close-round:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e914";
}
.icon-coin_fill:before {
  content: "\e915";
}
.icon-coin:before {
  content: "\e916";
}
.icon-collect_solid:before {
  content: "\e917";
}
.icon-collect:before {
  content: "\e918";
}
.icon-collpase:before {
  content: "\e919";
}
.icon-collpase1:before {
  content: "\e91a";
}
.icon-column:before {
  content: "\e91b";
}
.icon-comment_pic:before {
  content: "\e91c";
}
.icon-comment:before {
  content: "\e91d";
}
.icon-community:before {
  content: "\e91e";
}
.icon-community1:before {
  content: "\e91f";
}
.icon-compact:before {
  content: "\e920";
}
.icon-content:before {
  content: "\e921";
}
.icon-delete:before {
  content: "\e922";
}
.icon-dialog:before {
  content: "\e923";
}
.icon-download:before {
  content: "\e924";
}
.icon-edit-line:before {
  content: "\e925";
}
.icon-email:before {
  content: "\e926";
}
.icon-error:before {
  content: "\e927";
}
.icon-feature-fill:before {
  content: "\e928";
}
.icon-feature:before {
  content: "\e929";
}
.icon-file-download:before {
  content: "\e92a";
}
.icon-flag:before {
  content: "\e92b";
}
.icon-garbage:before {
  content: "\e92c";
}
.icon-gift:before {
  content: "\e92d";
}
.icon-Github:before {
  content: "\e92e";
}
.icon-goal:before {
  content: "\e92f";
}
.icon-group:before {
  content: "\e930";
}
.icon-histogram:before {
  content: "\e931";
}
.icon-hook:before {
  content: "\e932";
}
.icon-hot-fill:before {
  content: "\e933";
}
.icon-hot:before {
  content: "\e934";
}
.icon-info:before {
  content: "\e935";
}
.icon-Instapaper:before {
  content: "\e936";
}
.icon-iOS:before {
  content: "\e937";
}
.icon-item:before {
  content: "\e938";
}
.icon-jump:before {
  content: "\e939";
}
.icon-layout-all:before {
  content: "\e93a";
}
.icon-layout-card:before {
  content: "\e93b";
}
.icon-layout-list:before {
  content: "\e93c";
}
.icon-layout:before {
  content: "\e93d";
}
.icon-lightning:before {
  content: "\e93e";
}
.icon-like_solid:before {
  content: "\e93f";
}
.icon-like:before {
  content: "\e940";
}
.icon-link:before {
  content: "\e941";
}
.icon-Linux:before {
  content: "\e942";
}
.icon-list:before {
  content: "\e943";
}
.icon-lock:before {
  content: "\e944";
}
.icon-logo-simple:before {
  content: "\e945";
}
.icon-macOS:before {
  content: "\e946";
}
.icon-mall:before {
  content: "\e947";
}
.icon-matrix:before {
  content: "\e948";
}
.icon-menu:before {
  content: "\e949";
}
.icon-message_fill:before {
  content: "\e94a";
}
.icon-minus:before {
  content: "\e94b";
}
.icon-more:before {
  content: "\e94c";
}
.icon-new:before {
  content: "\e94d";
}
.icon-notice:before {
  content: "\e94e";
}
.icon-otter:before {
  content: "\e94f";
}
.icon-person:before {
  content: "\e950";
}
.icon-phone:before {
  content: "\e951";
}
.icon-pic:before {
  content: "\e952";
}
.icon-play:before {
  content: "\e953";
}
.icon-plus:before {
  content: "\e954";
}
.icon-pocket:before {
  content: "\e955";
}
.icon-podcast:before {
  content: "\e956";
}
.icon-post:before {
  content: "\e957";
}
.icon-power:before {
  content: "\e958";
}
.icon-question:before {
  content: "\e959";
}
.icon-random:before {
  content: "\e95a";
}
.icon-read:before {
  content: "\e95b";
}
.icon-rss-simple:before {
  content: "\e95c";
}
.icon-search:before {
  content: "\e95d";
}
.icon-selected:before {
  content: "\e95e";
}
.icon-series:before {
  content: "\e95f";
}
.icon-setting:before {
  content: "\e960";
}
.icon-settings:before {
  content: "\e961";
}
.icon-share:before {
  content: "\e962";
}
.icon-sort:before {
  content: "\e963";
}
.icon-speak:before {
  content: "\e964";
}
.icon-special:before {
  content: "\e965";
}
.icon-star_score:before {
  content: "\e966";
}
.icon-star:before {
  content: "\e967";
}
.icon-success:before {
  content: "\e968";
}
.icon-support_solid:before {
  content: "\e969";
}
.icon-support:before {
  content: "\e96a";
}
.icon-tags:before {
  content: "\e96b";
}
.icon-tao:before {
  content: "\e96c";
}
.icon-taobao:before {
  content: "\e96d";
}
.icon-top:before {
  content: "\e96e";
}
.icon-topic:before {
  content: "\e96f";
}
.icon-topic1:before {
  content: "\e970";
}
.icon-topics:before {
  content: "\e971";
}
.icon-topology:before {
  content: "\e972";
}
.icon-tron:before {
  content: "\e973";
}
.icon-twitter-simple:before {
  content: "\e974";
}
.icon-unsupport_solid:before {
  content: "\e975";
}
.icon-unsupport:before {
  content: "\e976";
}
.icon-upload:before {
  content: "\e977";
}
.icon-view:before {
  content: "\e978";
}
.icon-vote:before {
  content: "\e979";
}
.icon-vs:before {
  content: "\e97a";
}
.icon-wallet:before {
  content: "\e97b";
}
.icon-web:before {
  content: "\e97c";
}
.icon-wechat-simple:before {
  content: "\e97d";
}
.icon-wechatpay:before {
  content: "\e97e";
}
.icon-weibo-simple:before {
  content: "\e97f";
}
.icon-Windows:before {
  content: "\e980";
}
.icon-write:before {
  content: "\e981";
}
.icon-youzan:before {
  content: "\e982";
}
.icon-youzan1:before {
  content: "\e983";
}
.icon-menu--fold:before {
  content: "\e984";
}
.icon-community2:before {
  content: "\e985";
}
.icon-noticeRead:before {
  content: "\e986";
}
.icon-menu--unfold:before {
  content: "\e987";
}
.icon-add--stroke:before {
  content: "\e988";
}
.icon-success--stroke:before {
  content: "\e989";
}
