.swiper-prev,
.swiper-next {
  opacity: 0;
  visibility: hidden;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  height: 36px;
  width: 36px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 50%;
  background-color: rgba(31, 45, 61, 0.11);
  color: #fff;
  position: absolute;
  top: 50%;
  z-index: 10;
  text-align: center;
  font-size: 12px;
}

.swiper .arrow-left {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMjAiIGN5PSIyMCIgcj0iMjAiIHRyYW5zZm9ybT0icm90YXRlKC0xODAgMjAgMjApIiBmaWxsPSIjRjRGNEY0Ii8+CjxwYXRoIGQ9Ik0yMi41IDI2LjY2NjdMMTUuODMzMyAyMC4wMDAxTDIyLjQ3OTEgMTMuMzU0MyIgc3Ryb2tlPSIjNjU1RTVFIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K)
    no-repeat 50% / 100% 100%;
  left: calc(max((max(1120px, 100%) - 1120px) / 2, 16px));
}

.swiper .arrow-right {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMjAiIGN5PSIyMCIgcj0iMjAiIGZpbGw9IiNGNEY0RjQiLz4KPHBhdGggZD0iTTE3LjUgMTMuMzMzM0wyNC4xNjY3IDE5Ljk5OTlMMTcuNTIwOSAyNi42NDU3IiBzdHJva2U9IiM2NTVFNUUiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=)
    no-repeat 50% / 100% 100%;
  right: calc(max((max(1120px, 100%) - 1120px) / 2, 16px));
}

.swiper-pagination {
  line-height: 0;
}

.box .box-image-wrap {
  position: relative;
  width: 264px;
  height: 144px;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0,0,0,.15);
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
