@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-bg: rgba(0, 0, 0, 0.1); /*默认颜色*/
  --menu-color: #000; /*默认颜色*/
  --extra-color: #000;

  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-border-radius: 10px;
  --swiper-pagination-bullet-horizontal-gap: 8px;

  --swiper-pagination-bottom: 60px;

  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.8;

  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-opacity: 1;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,Arial,sans-serif;
}

body {
  width: 100vw;
  background-color: #f4f4f4;
}

#header::after {
  content: " ";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  backdrop-filter: blur(60px);
  transition: background 0.3s cubic-bezier(0.5, 0, 0, 1);
  transform: translateZ(0);
  background: var(--hover-header-bg, var(--header-bg));
}

#header .extra .iconfont {
    color: var(--hover-extra-color, var(--extra-color));
}

#header .menu-item:hover {
  --hover-menu-color: #000;
}

#header .menu-item {
  color: var(--hover-menu-color, var(--menu-color));
}
